<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>Your shopping Cart</title>
	</head>
	<body ng-controller="CartController">
		<h1>Your Order</h1>
		<div ng-repeat="item in items">
			 <span>{{items.title}}</span>
			 <input ng-model="item.quantity">
			 <span>{{item.price | currency}}</span>
			 <span>{{item.price * item.quantity | currency }}</span>
			 <button ng-click="remove($index)">Remove</button>
			 
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script>
			function CartController($scope){
				 $scope.items=[
				 	{title:"aaa",quantity:100,price:333},
				 	{title:"aaa",quantity:100,price:333},
				 	{title:"aaa",quantity:100,price:333}
				 ];
				 
				 $scope.remove=function(index){
				 	$scope.items.splice(index,1);
				 }
			}
		</script>
	</body>
</html>
